{"openapi":"3.1.0","info":{"title":"API Documentation","summary":"OasRails: Automatic Interactive API Documentation for Rails","description":"# FetchSERP API\n\nThis API provides endpoints for retrieving search engine results, analyzing keyword and domain performance, scraping web content, and conducting SEO audits. It is designed to help developers access valuable SEO and SERP data programmatically.\n\n## Authentication\n\nAll API endpoints require Bearer token authentication.\n\n\n## Rate Limiting\n\nThe API has a rate limit of 600 requests per minute per API key. If you exceed this limit, you will receive a 429 status code.\n\n\n## Available Resources\n\n- Get Backlinks : Get backlinks for a given domain\n- Get Domain Emails : Retrieve emails from a given domain\n- Get Domain Info : Get domain info including DNS records, WHOIS data, SSL certificates, and technology stack\n- Get Keywords search volume : Get search volume for given keywords\n- Get Keywords suggestions : Get keyword suggestions based on a url or a list of keywords\n- Get Long-tail Keywords Generator : Generate long-tail keywords for a given keyword\n- Get Page Indexation Check : Check if a domain is indexed for a given keyword\n- Get Domain Ranking : Get domain ranking for a given keyword\n- Get Web Page Scraping : Scrape a web page without JS\n- Get Domain Scraping : Scrape a domain\n- Post Web Page Scraping : Scrape a web page with custom JS\n- Post Web Page Scraping with Proxy : Scrape a web page with JS and proxy\n- Get Moz Domain Analysis : Get Moz domain analysis data\n- GET Search engine results : Get search engine results\n- GET Search engine results AI : Get search engine results with AI overview and AI mode response\n- GET Search engine results html : Get search engine results html content\n- GET Search engine results JS : Get search engine results with JS rendering\n- GET Search engine results text : Get search engine results text content\n- Get User : Get user information including api credit\n- Get Web Page AI Analysis : Analyze a web page with AI\n- Get SEO Analysis : Get SEO analysis for a given url\n\nFor more information, contact contact@fetchserp.com\n\n","termsOfService":"","contact":{"name":"Support","url":"https://fetchserp.com","email":"contact@fetchserp.com"},"license":{"name":"GPL 3.0","url":"https://www.gnu.org/licenses/gpl-3.0.html#license-text"},"version":"1.0.0"},"servers":[{"url":"https://www.fetchserp.com","description":"Production"}],"paths":{"/api/v1/backlinks":{"get":{"tags":["Api"],"summary":"Backlinks for a domain","description":"","operationId":"index_api_v1_backlinks","parameters":[{"$ref":"#/components/parameters/7a4323da9edb17e37042780b0324dfa9"},{"$ref":"#/components/parameters/3c008e11dc109d8fa2f48877d536e2fe"},{"$ref":"#/components/parameters/9c5679019fc63abf00a7a6b05e6ead59"},{"$ref":"#/components/parameters/7aeb7b3feab83b727bb804d8728e2217"}],"responses":{"401":{"$ref":"#/components/responses/845f22750f5375f1a8a961ae83a20c2a"},"422":{"$ref":"#/components/responses/f86461053088ef5ecc046618614da7a3"},"500":{"$ref":"#/components/responses/ac967f8dd092c791194a89e00224cac7"},"200":{"$ref":"#/components/responses/49f1120617140a0c0eb5749c08f789a0"},"403":{"$ref":"#/components/responses/bb465f991e06e74546be0b29bc732010"}},"security":[{"bearer":[]}]}},"/api/v1/domain_emails":{"get":{"tags":["Api"],"summary":"Emails for a domain","description":"","operationId":"index_api_v1_domain_emails","parameters":[{"$ref":"#/components/parameters/9f70e9a4d60ce792a2624403d1400445"},{"$ref":"#/components/parameters/3c008e11dc109d8fa2f48877d536e2fe"},{"$ref":"#/components/parameters/9c5679019fc63abf00a7a6b05e6ead59"},{"$ref":"#/components/parameters/f1227a93e97a5bbf4621ae84fbc94c6b"}],"responses":{"401":{"$ref":"#/components/responses/de7c814288e0825493e35a2b10a76c6b"},"422":{"$ref":"#/components/responses/360da4fca0cddbd1e0fd8be26ecc65ed"},"500":{"$ref":"#/components/responses/f91fca025d102db22441e20e20e0c192"},"200":{"$ref":"#/components/responses/e2ba14cb4d16dd4f78942397c7f1255a"},"403":{"$ref":"#/components/responses/26578a5dd30d7e15d6b4d32db0e572b8"}},"security":[{"bearer":[]}]}},"/api/v1/domain_infos":{"get":{"tags":["Api"],"summary":"Domain Infos (dns, whois, server, ssl)","description":"","operationId":"index_api_v1_domain_infos","parameters":[{"$ref":"#/components/parameters/635a108ff96f29e4edb71891d25bff13"}],"responses":{"401":{"$ref":"#/components/responses/9a0e62cc049a1ea0c3ad871abf1c9771"},"422":{"$ref":"#/components/responses/11de6e5367663d31588414e5a98d7977"},"500":{"$ref":"#/components/responses/6ab6e4454bb0d2651a089ec0ae2541c6"},"200":{"$ref":"#/components/responses/d2800781e64b83be2140b03a657891b3"},"403":{"$ref":"#/components/responses/27f76fa1fecef59b89fe96fab9c5d231"}},"security":[{"bearer":[]}]}},"/api/v1/keywords_search_volume":{"get":{"tags":["Api"],"summary":"Keywords Search Volume","description":"","operationId":"index_api_v1_keywords_search_volume","parameters":[{"$ref":"#/components/parameters/95bbb06261987031e9385be50cd89c19"},{"$ref":"#/components/parameters/9c1db8a07d573d7f932379961ba22187"}],"responses":{"401":{"$ref":"#/components/responses/cd2c2d79b8c2d574cfb2307d9fdbc39d"},"422":{"$ref":"#/components/responses/95c0db9199907dbe63da84f20e875c3c"},"500":{"$ref":"#/components/responses/a8306b27d53a3c5934f38acb35ce36a2"},"200":{"$ref":"#/components/responses/3129ea0d0c3869a1d4ca673d9d41ac00"},"403":{"$ref":"#/components/responses/74adade354a16831333b7bd6154d7364"}},"security":[{"bearer":[]}]}},"/api/v1/keywords_suggestions":{"get":{"tags":["Api"],"summary":"Keywords Suggestions","description":"","operationId":"index_api_v1_keywords_suggestions","parameters":[{"$ref":"#/components/parameters/960e7de68b14a7af64c4833e131683b6"},{"$ref":"#/components/parameters/be0c636bd304325c5634b9111fbbd679"},{"$ref":"#/components/parameters/9c1db8a07d573d7f932379961ba22187"}],"responses":{"401":{"$ref":"#/components/responses/02e0405bcb9892a0c2483d947f88813f"},"422":{"$ref":"#/components/responses/e0f14fa4c1b8cbcb339b940809e5dbd3"},"500":{"$ref":"#/components/responses/d442b9ff78eee5fe985215f7c9b58d7f"},"200":{"$ref":"#/components/responses/aa78d62c781393d3b31353ad76bf7c8b"},"403":{"$ref":"#/components/responses/f5d2226837279f8b6d14b9e004dc4f2e"}},"security":[{"bearer":[]}]}},"/api/v1/long_tail_keywords_generator":{"get":{"tags":["Api"],"summary":"Long-tail keywords generator","description":"","operationId":"index_api_v1_long_tail_keywords_generator","parameters":[{"$ref":"#/components/parameters/e297de1426baed91f4383a1d1fdc4394"},{"$ref":"#/components/parameters/87de6d8991abee8c0aff67fa3703ecd5"},{"$ref":"#/components/parameters/283cf12c962ff38fe1ca4e769ae8243b"}],"responses":{"401":{"$ref":"#/components/responses/3e40542590c6e4386537b5600451d7ef"},"422":{"$ref":"#/components/responses/db0ccfc34913df3cb2b5fcfea160935f"},"500":{"$ref":"#/components/responses/bc3fc1644623b5029fff25781e596b93"},"200":{"$ref":"#/components/responses/98d4eb8fac8c1a24fcc6f6f13dc239ef"},"403":{"$ref":"#/components/responses/c9441685c4d2c54f65d7d3e5e902ea2a"}},"security":[{"bearer":[]}]}},"/api/v1/moz":{"get":{"tags":["Api"],"summary":"Moz Domain Authority","description":"","operationId":"index_api_v1_moz","parameters":[{"$ref":"#/components/parameters/a9d1f44acd4dd0206173b940dbda39f7"}],"responses":{"401":{"$ref":"#/components/responses/38380e2e5f25ccfe066e5b156c20253a"},"422":{"$ref":"#/components/responses/0458a36dd82a8494c9c6730de991d1fa"},"500":{"$ref":"#/components/responses/703c99e635a9846abeef3abe6e105b52"},"200":{"$ref":"#/components/responses/f14ccac94c10ee1aaa8a39610e3f7300"},"403":{"$ref":"#/components/responses/80c9931b66a5cb8e6ff06c0381aa6818"}},"security":[{"bearer":[]}]}},"/api/v1/page_indexation":{"get":{"tags":["Api"],"summary":"Page Indexation Check","description":"","operationId":"index_api_v1_page_indexation","parameters":[{"$ref":"#/components/parameters/635a108ff96f29e4edb71891d25bff13"},{"$ref":"#/components/parameters/1185eb8b80fa7bd3029df99a5e881eab"}],"responses":{"401":{"$ref":"#/components/responses/1daca28d6472721dc8826893f95084d0"},"422":{"$ref":"#/components/responses/b24cf8807aba3a126ef7596f328641b7"},"500":{"$ref":"#/components/responses/8a46a56ccdbe079c0ff11b14a87360c0"},"200":{"$ref":"#/components/responses/fcbc363fc1c44c79efcc144ac6d89abc"},"403":{"$ref":"#/components/responses/6364985eac8d2f3774b5e916f906e38e"}},"security":[{"bearer":[]}]}},"/api/v1/ranking":{"get":{"tags":["Api"],"summary":"Domain Ranking","description":"","operationId":"index_api_v1_ranking","parameters":[{"$ref":"#/components/parameters/ee44c750d282ae0fb2fde446b3954fff"},{"$ref":"#/components/parameters/216ab90a4d75eb62387e07777b0f00b5"},{"$ref":"#/components/parameters/3c008e11dc109d8fa2f48877d536e2fe"},{"$ref":"#/components/parameters/9c5679019fc63abf00a7a6b05e6ead59"},{"$ref":"#/components/parameters/815410dc2a3aaf6849ff2b1723f93b7f"}],"responses":{"401":{"$ref":"#/components/responses/3bbc0c470f6ca90953aa41e19201f27a"},"422":{"$ref":"#/components/responses/2901815d83ff1a1aed63df2b7f2f1a7a"},"500":{"$ref":"#/components/responses/e2e8b8b8e77f81c8e12002c86985563f"},"200":{"$ref":"#/components/responses/209614a5a8076604960b6073996fdeed"},"403":{"$ref":"#/components/responses/b60da0f809685103285be75545a585da"}},"security":[{"bearer":[]}]}},"/api/v1/scrape":{"get":{"tags":["Api"],"summary":"Scrape a web page without JS","description":"","operationId":"index_api_v1_scrape","parameters":[{"$ref":"#/components/parameters/bd66bf6c59f2f48d143fad774489d32e"}],"responses":{"401":{"$ref":"#/components/responses/60fef0cc9a159cf8b64ce4b716bbc7ce"},"422":{"$ref":"#/components/responses/d7f045e85f110f8f6c20fc86877e61ca"},"500":{"$ref":"#/components/responses/43c3db69b51417f45b9665c66fa7ed0f"},"200":{"$ref":"#/components/responses/ae78a3c3dd73fbac66fd081f0a604785"},"403":{"$ref":"#/components/responses/49b14d27724757af785b03d5b3eb95b9"}},"security":[{"bearer":[]}]}},"/api/v1/scrape_domain":{"get":{"tags":["Api"],"summary":"Scrape a domain","description":"","operationId":"index_api_v1_scrape_domain","parameters":[{"$ref":"#/components/parameters/e0845f7721d45dbb1d7b79821f1ebda8"},{"$ref":"#/components/parameters/d6f7b773b3e38053c2cef92453535b34"}],"responses":{"401":{"$ref":"#/components/responses/60d64032e7ab3fb14cf352d7bc03e0f8"},"422":{"$ref":"#/components/responses/d6d7b15b64720a1574c85f6a9ac02b65"},"500":{"$ref":"#/components/responses/33e1e07bad0696fa8d91e77cc3b05965"},"200":{"$ref":"#/components/responses/06fd75aff9a4d3ae8949fca4ac646ceb"},"403":{"$ref":"#/components/responses/9120afb5f1a303f4be3843f154522dd5"}},"security":[{"bearer":[]}]}},"/api/v1/scrape_js":{"post":{"tags":["Api"],"summary":"Scrape a web page with JS","description":"","operationId":"create_api_v1_scrape_js","parameters":[{"$ref":"#/components/parameters/bd66bf6c59f2f48d143fad774489d32e"},{"$ref":"#/components/parameters/b6918c860b4721b55ce38c237c9fa7e1"}],"requestBody":{"$ref":"#/components/requestBodies/bed148856592dd057a64f198f9cee95c"},"responses":{"401":{"$ref":"#/components/responses/f7fb96b1ca2dfdc1bccef1bf2c345188"},"422":{"$ref":"#/components/responses/f70d3db2513a2170c8ebdd44ccacd735"},"500":{"$ref":"#/components/responses/2fad7ed5dcf2596e587393d3fa4ffa8f"},"200":{"$ref":"#/components/responses/e91e772eb3e9431d1dc9f2a7b14c9804"},"403":{"$ref":"#/components/responses/4675501e7a5765605eb785596909eefc"}},"security":[{"bearer":[]}]}},"/api/v1/scrape_js_with_proxy":{"post":{"tags":["Api"],"summary":"Scrape a web page with JS and proxy","description":"","operationId":"create_api_v1_scrape_js_with_proxy","parameters":[{"$ref":"#/components/parameters/bd66bf6c59f2f48d143fad774489d32e"},{"$ref":"#/components/parameters/3d2464dd753a190140e7dfe7c4d637fa"},{"$ref":"#/components/parameters/b6918c860b4721b55ce38c237c9fa7e1"}],"requestBody":{"$ref":"#/components/requestBodies/7b031da719659464320b83f2080a9c19"},"responses":{"401":{"$ref":"#/components/responses/bec4955108cf4d0aec9e886a00cd9880"},"422":{"$ref":"#/components/responses/40595cb8a14c081a5a80892067b03f58"},"500":{"$ref":"#/components/responses/9543814cf6d734596d03c61c560fcc05"},"200":{"$ref":"#/components/responses/9e5e49b0ee44e586f9901da135af60a8"},"403":{"$ref":"#/components/responses/a75c147fb027bc0c2cde1d6978128aa3"}},"security":[{"bearer":[]}]}},"/api/v1/serp":{"get":{"tags":["Api"],"summary":"SERP","description":"This endpoint fetches the SERP results without using JS.","operationId":"index_api_v1_serp","parameters":[{"$ref":"#/components/parameters/b29728c77c0b2bdb1a85de9da3046d10"},{"$ref":"#/components/parameters/3c008e11dc109d8fa2f48877d536e2fe"},{"$ref":"#/components/parameters/9c5679019fc63abf00a7a6b05e6ead59"},{"$ref":"#/components/parameters/f1227a93e97a5bbf4621ae84fbc94c6b"}],"responses":{"401":{"$ref":"#/components/responses/5dbb797393826d3b0568ee810f9ad06e"},"422":{"$ref":"#/components/responses/9dafc9a7e083b9c0ac9bd08d02e7afcf"},"500":{"$ref":"#/components/responses/80f6e5be974e5af43eb292f66e3bbca5"},"200":{"$ref":"#/components/responses/d7e9442655b4343978a0fe53ffa7c969"},"403":{"$ref":"#/components/responses/7ea6344973b7a8c3020e010af6b9e689"}},"security":[{"bearer":[]}]}},"/api/v1/serp_ai":{"get":{"tags":["Api"],"summary":"SERP AI Overview and AI Mode step 1","description":"This endpoint launches a job that solves google recaptcha and fetches google SERP with javascript rendering using a headless browser. It allows retrieving the AI overview and the search results. This endpoint returns a uuid to be used for polling the content at SERP JS content endpoint.","operationId":"index_api_v1_serp_ai","parameters":[{"$ref":"#/components/parameters/b29728c77c0b2bdb1a85de9da3046d10"},{"$ref":"#/components/parameters/9c5679019fc63abf00a7a6b05e6ead59"}],"responses":{"401":{"$ref":"#/components/responses/df7a239a7e9be6ebf4fde0295dfc9bb2"},"422":{"$ref":"#/components/responses/f36b15866da4551472f0f56080043158"},"500":{"$ref":"#/components/responses/8188c614f287419aa9b0e190d870f09b"},"200":{"$ref":"#/components/responses/18488c382dac75853b2b5d10f5c27635"},"403":{"$ref":"#/components/responses/c4af17e78dd94fb87e4db16d62c0bc92"}},"security":[{"bearer":[]}]}},"/api/v1/serp_ai/{uuid}":{"get":{"tags":["Api"],"summary":"SERP AI Overview and AI Mode step 2","description":"This endpoint returns the SERP including the AI overview and the search results.","operationId":"show_api_v1_serp_ai_uuid","parameters":[{"$ref":"#/components/parameters/8e25b3c523b4c42d30dae1e6c378db7e"}],"responses":{"401":{"$ref":"#/components/responses/68101f9f15c16c8f2ecba99d96741479"},"422":{"$ref":"#/components/responses/198dfc5c9b9aad3b12dbb766030c1c32"},"500":{"$ref":"#/components/responses/2b2d6c65a8afdf061a0964186ddca8e8"},"200":{"$ref":"#/components/responses/9e791dfc19cc6e39cbfeea7ab499a6ed"},"404":{"$ref":"#/components/responses/b0a93d89750a3b22714f0594be83af47"},"403":{"$ref":"#/components/responses/37d3ea0905ed0f29392c149b40c4d032"}},"security":[{"bearer":[]}]}},"/api/v1/serp_ai_mode":{"get":{"tags":["Api"],"summary":"SERP AI Overview and AI Mode","description":"This endpoint returns the AI overview and AI mode response of the SERP. It is less reliable than the SERP AI Overview and AI Mode 2 steps endpoint but can return in less than 30 seconds.","operationId":"index_api_v1_serp_ai_mode","parameters":[{"$ref":"#/components/parameters/b29728c77c0b2bdb1a85de9da3046d10"}],"responses":{"401":{"$ref":"#/components/responses/a6ac509d12b742dfa4c27c3afb3d5a6a"},"422":{"$ref":"#/components/responses/2d59238fea5bfc2cffc9602c9f8657b9"},"500":{"$ref":"#/components/responses/b825e45484292d19796457420154e01d"},"200":{"$ref":"#/components/responses/435e573d2ec0255bdf9ed248834e3f54"},"403":{"$ref":"#/components/responses/ec90a301306496eccebd9d207c209b9d"}},"security":[{"bearer":[]}]}},"/api/v1/serp_html":{"get":{"tags":["Api"],"summary":"SERP with HTML content","description":"This endpoint returns the SERP results along with the HTML content of the pages.","operationId":"index_api_v1_serp_html","parameters":[{"$ref":"#/components/parameters/b29728c77c0b2bdb1a85de9da3046d10"},{"$ref":"#/components/parameters/3c008e11dc109d8fa2f48877d536e2fe"},{"$ref":"#/components/parameters/9c5679019fc63abf00a7a6b05e6ead59"},{"$ref":"#/components/parameters/f1227a93e97a5bbf4621ae84fbc94c6b"}],"responses":{"401":{"$ref":"#/components/responses/980c34a18ef2be112a12d53af8de947f"},"422":{"$ref":"#/components/responses/2f4526b14be1be81ee83f135af2b2697"},"500":{"$ref":"#/components/responses/5adc8989577a56861f96f1a9fdbc31ac"},"200":{"$ref":"#/components/responses/41e5cce3f18f1a9868941a24abf7904e"},"403":{"$ref":"#/components/responses/aac723428487c6bed26af3ac6b44f128"}},"security":[{"bearer":[]}]}},"/api/v1/serp_js":{"get":{"tags":["Api"],"summary":"SERP with AI Overview step 1","description":"This endpoint launches a job that solves google recaptcha and fetches google SERP with javascript rendering using a headless browser. It allows retrieving the AI overview and the search results. This endpoint returns a uuid to be used for polling the content at SERP JS content endpoint.","operationId":"index_api_v1_serp_js","parameters":[{"$ref":"#/components/parameters/b29728c77c0b2bdb1a85de9da3046d10"},{"$ref":"#/components/parameters/9c5679019fc63abf00a7a6b05e6ead59"},{"$ref":"#/components/parameters/bb40bd367b30b348c8c438e5a886c227"}],"responses":{"401":{"$ref":"#/components/responses/45feeb320642a8089c77ae7cba6b3e2c"},"422":{"$ref":"#/components/responses/20d2814eaabaa1c429d2549b88e05d33"},"500":{"$ref":"#/components/responses/fbb198c12e8615296ab9f28c580e20a9"},"200":{"$ref":"#/components/responses/9baa5acd3328a438672e580fa3b19d87"},"403":{"$ref":"#/components/responses/995847d7cf2aef15ef0d974219b565a0"}},"security":[{"bearer":[]}]}},"/api/v1/serp_js/{uuid}":{"get":{"tags":["Api"],"summary":"SERP with AI Overview step 2","description":"This endpoint returns the SERP including the AI overview and the search results.","operationId":"show_api_v1_serp_js_uuid","parameters":[{"$ref":"#/components/parameters/8e25b3c523b4c42d30dae1e6c378db7e"}],"responses":{"401":{"$ref":"#/components/responses/9086aedeb9d49ea8188e4e6e3b44fa33"},"422":{"$ref":"#/components/responses/4a3ef7a2c23c8fd9465e1eb6e0efed10"},"500":{"$ref":"#/components/responses/2ccf8cb16d4056fc711ed0ca4ef73f58"},"200":{"$ref":"#/components/responses/7c98fbab5202f1286eb90e9fc1aac54c"},"404":{"$ref":"#/components/responses/e6a8aea08d97a4632e74b7d87f767f62"},"403":{"$ref":"#/components/responses/7b60714daf45a11b101dc36462ebce1d"}},"security":[{"bearer":[]}]}},"/api/v1/serp_text":{"get":{"tags":["Api"],"summary":"SERP with text content","description":"This endpoint returns the SERP results along with the text content of the pages.","operationId":"index_api_v1_serp_text","parameters":[{"$ref":"#/components/parameters/b29728c77c0b2bdb1a85de9da3046d10"},{"$ref":"#/components/parameters/3c008e11dc109d8fa2f48877d536e2fe"},{"$ref":"#/components/parameters/9c5679019fc63abf00a7a6b05e6ead59"},{"$ref":"#/components/parameters/f1227a93e97a5bbf4621ae84fbc94c6b"}],"responses":{"401":{"$ref":"#/components/responses/249fd94a9f61b3709b6c2bcbb6f25df2"},"422":{"$ref":"#/components/responses/7bdb470af59d502ed1507008ee98b8ae"},"500":{"$ref":"#/components/responses/90e4188343a8580b2b5db407d8cc611e"},"200":{"$ref":"#/components/responses/da35e9d51f46e41704cdef85e04d9464"},"403":{"$ref":"#/components/responses/aed8f00dcbe08bd9b6dcbfd7ecd06952"}},"security":[{"bearer":[]}]}},"/api/v1/user":{"get":{"tags":["Api"],"summary":"Current User information","description":"","operationId":"index_api_v1_user","responses":{"401":{"$ref":"#/components/responses/64fd4e3e0788c3a9f1e86bf3569c6c36"},"200":{"$ref":"#/components/responses/82134fec5ccac45eb0da6c80d240415d"},"403":{"$ref":"#/components/responses/719953a3dc0c81fbc76fb358393f64de"}},"security":[{"bearer":[]}]}},"/api/v1/web_page_ai_analysis":{"get":{"tags":["Api"],"summary":"Web Page AI analysis","description":"","operationId":"index_api_v1_web_page_ai_analysis","parameters":[{"$ref":"#/components/parameters/f8f09a57d731547e6d17e18e88c911fe"},{"$ref":"#/components/parameters/51ef2b8886208a3bbf6df0e30e1ae059"}],"responses":{"401":{"$ref":"#/components/responses/cf5bc1f676a50cec6d43c0d2bd434812"},"422":{"$ref":"#/components/responses/19cb1f46c4aa6f1893ef46b22ffdc27c"},"500":{"$ref":"#/components/responses/3c5c6e8589aca41bbcfedd1bdff09025"},"200":{"$ref":"#/components/responses/177cd6ef20b5c8204e7458bd0d693fc8"},"403":{"$ref":"#/components/responses/180f4cf45b641e3d0b781e89293766b0"}},"security":[{"bearer":[]}]}},"/api/v1/web_page_seo_analysis":{"get":{"tags":["Api"],"summary":"Web Page SEO analysis","description":"","operationId":"index_api_v1_web_page_seo_analysis","parameters":[{"$ref":"#/components/parameters/f8f09a57d731547e6d17e18e88c911fe"}],"responses":{"401":{"$ref":"#/components/responses/c18f16818f78b2dd782f67452e4a63df"},"422":{"$ref":"#/components/responses/d82c84f6f832bfab9a07233fac8c43b7"},"500":{"$ref":"#/components/responses/e810a9a45f47daf79ff54f674f6faf78"},"200":{"$ref":"#/components/responses/3611fb5c01eb8ad784d839ffb22107a1"},"403":{"$ref":"#/components/responses/9980fa6c06c9963b56f9594e9283a75a"}},"security":[{"bearer":[]}]}}},"components":{"requestBodies":{"bed148856592dd057a64f198f9cee95c":{"description":"The payload to send","content":{"application/json":{"schema":{"$ref":"#/components/schemas/de0b0f0356db9da97e216bb8fde78f1a"},"examples":{"an_example_payload":{"$ref":"#/components/examples/65d0eccb6e55c4c034fa4fba3c6a7527"}}}},"required":true},"7b031da719659464320b83f2080a9c19":{"description":"The payload to send","content":{"application/json":{"schema":{"$ref":"#/components/schemas/de0b0f0356db9da97e216bb8fde78f1a"},"examples":{"an_example_payload":{"$ref":"#/components/examples/65d0eccb6e55c4c034fa4fba3c6a7527"}}}},"required":true}},"examples":{"65d0eccb6e55c4c034fa4fba3c6a7527":{"summary":"An example payload","value":{"url":"https://fetchserp.com","js_script":"return { h1: document.querySelector('h1')?.innerText, content: document.body.innerText }"}}},"responses":{"845f22750f5375f1a8a961ae83a20c2a":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"f86461053088ef5ecc046618614da7a3":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"ac967f8dd092c791194a89e00224cac7":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"49f1120617140a0c0eb5749c08f789a0":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/6f8905419a1eb951cb667fe7461e4d10"}}}},"bb465f991e06e74546be0b29bc732010":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"de7c814288e0825493e35a2b10a76c6b":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"360da4fca0cddbd1e0fd8be26ecc65ed":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"f91fca025d102db22441e20e20e0c192":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"e2ba14cb4d16dd4f78942397c7f1255a":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/c6aed49955bf550c645ca486ebab3199"}}}},"26578a5dd30d7e15d6b4d32db0e572b8":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"9a0e62cc049a1ea0c3ad871abf1c9771":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"11de6e5367663d31588414e5a98d7977":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"6ab6e4454bb0d2651a089ec0ae2541c6":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"d2800781e64b83be2140b03a657891b3":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/c3bde990034d23b2a722273337242f7a"}}}},"27f76fa1fecef59b89fe96fab9c5d231":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"cd2c2d79b8c2d574cfb2307d9fdbc39d":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"95c0db9199907dbe63da84f20e875c3c":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"a8306b27d53a3c5934f38acb35ce36a2":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"3129ea0d0c3869a1d4ca673d9d41ac00":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/eae1f3e6a1cfa36f797bb25fbb6c4b84"}}}},"74adade354a16831333b7bd6154d7364":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"02e0405bcb9892a0c2483d947f88813f":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"e0f14fa4c1b8cbcb339b940809e5dbd3":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"d442b9ff78eee5fe985215f7c9b58d7f":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"aa78d62c781393d3b31353ad76bf7c8b":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/1cebb7b6f380af614ca53c4ac99f0dc2"}}}},"f5d2226837279f8b6d14b9e004dc4f2e":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"3e40542590c6e4386537b5600451d7ef":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"db0ccfc34913df3cb2b5fcfea160935f":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"bc3fc1644623b5029fff25781e596b93":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"98d4eb8fac8c1a24fcc6f6f13dc239ef":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/0b22856b372c2963785ed86d1c7657da"}}}},"c9441685c4d2c54f65d7d3e5e902ea2a":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"38380e2e5f25ccfe066e5b156c20253a":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"0458a36dd82a8494c9c6730de991d1fa":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"703c99e635a9846abeef3abe6e105b52":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"f14ccac94c10ee1aaa8a39610e3f7300":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/95bb2b063cd814b8e2847c0e08e1b690"}}}},"80c9931b66a5cb8e6ff06c0381aa6818":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"1daca28d6472721dc8826893f95084d0":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"b24cf8807aba3a126ef7596f328641b7":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"8a46a56ccdbe079c0ff11b14a87360c0":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"fcbc363fc1c44c79efcc144ac6d89abc":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/496b2fd25d1034476658cb29ddd8a147"}}}},"6364985eac8d2f3774b5e916f906e38e":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"3bbc0c470f6ca90953aa41e19201f27a":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"2901815d83ff1a1aed63df2b7f2f1a7a":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"e2e8b8b8e77f81c8e12002c86985563f":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"209614a5a8076604960b6073996fdeed":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/d1cf3d9cef79e97be64748f825e207b4"}}}},"b60da0f809685103285be75545a585da":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"60fef0cc9a159cf8b64ce4b716bbc7ce":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"d7f045e85f110f8f6c20fc86877e61ca":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"43c3db69b51417f45b9665c66fa7ed0f":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"ae78a3c3dd73fbac66fd081f0a604785":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/6c27b415ef5a3d0a1aecfd1d12617f22"}}}},"49b14d27724757af785b03d5b3eb95b9":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"60d64032e7ab3fb14cf352d7bc03e0f8":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"d6d7b15b64720a1574c85f6a9ac02b65":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"33e1e07bad0696fa8d91e77cc3b05965":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"06fd75aff9a4d3ae8949fca4ac646ceb":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/47ad16874f0791de9f3d9da9e77657cc"}}}},"9120afb5f1a303f4be3843f154522dd5":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"f7fb96b1ca2dfdc1bccef1bf2c345188":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"f70d3db2513a2170c8ebdd44ccacd735":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"2fad7ed5dcf2596e587393d3fa4ffa8f":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"e91e772eb3e9431d1dc9f2a7b14c9804":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/6247306b95c0f269acad34b406304042"}}}},"4675501e7a5765605eb785596909eefc":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"bec4955108cf4d0aec9e886a00cd9880":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"40595cb8a14c081a5a80892067b03f58":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"9543814cf6d734596d03c61c560fcc05":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"9e5e49b0ee44e586f9901da135af60a8":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/70d4db71598d568797192360bfc6386e"}}}},"a75c147fb027bc0c2cde1d6978128aa3":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"5dbb797393826d3b0568ee810f9ad06e":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"9dafc9a7e083b9c0ac9bd08d02e7afcf":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"80f6e5be974e5af43eb292f66e3bbca5":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"d7e9442655b4343978a0fe53ffa7c969":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/5f68e6beb8f8d40708f29857067475f7"}}}},"7ea6344973b7a8c3020e010af6b9e689":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"df7a239a7e9be6ebf4fde0295dfc9bb2":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"f36b15866da4551472f0f56080043158":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"8188c614f287419aa9b0e190d870f09b":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"18488c382dac75853b2b5d10f5c27635":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/75a307bff20617fd15832dab517b49f8"}}}},"c4af17e78dd94fb87e4db16d62c0bc92":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"68101f9f15c16c8f2ecba99d96741479":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"198dfc5c9b9aad3b12dbb766030c1c32":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"2b2d6c65a8afdf061a0964186ddca8e8":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"9e791dfc19cc6e39cbfeea7ab499a6ed":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/92317ebc104d12fa104b7ee666468fc2"}}}},"b0a93d89750a3b22714f0594be83af47":{"description":"The requested resource could not be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"37d3ea0905ed0f29392c149b40c4d032":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"a6ac509d12b742dfa4c27c3afb3d5a6a":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"2d59238fea5bfc2cffc9602c9f8657b9":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"b825e45484292d19796457420154e01d":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"435e573d2ec0255bdf9ed248834e3f54":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/6ae5c1b8e7ed10c3bf20534abdc987d7"}}}},"ec90a301306496eccebd9d207c209b9d":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"980c34a18ef2be112a12d53af8de947f":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"2f4526b14be1be81ee83f135af2b2697":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"5adc8989577a56861f96f1a9fdbc31ac":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"41e5cce3f18f1a9868941a24abf7904e":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/526ef8bfb8d3486fb3eb2b40900bf109"}}}},"aac723428487c6bed26af3ac6b44f128":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"45feeb320642a8089c77ae7cba6b3e2c":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"20d2814eaabaa1c429d2549b88e05d33":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"fbb198c12e8615296ab9f28c580e20a9":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"9baa5acd3328a438672e580fa3b19d87":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/75a307bff20617fd15832dab517b49f8"}}}},"995847d7cf2aef15ef0d974219b565a0":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"9086aedeb9d49ea8188e4e6e3b44fa33":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"4a3ef7a2c23c8fd9465e1eb6e0efed10":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"2ccf8cb16d4056fc711ed0ca4ef73f58":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"7c98fbab5202f1286eb90e9fc1aac54c":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/301b61c506d9e720bbf7e13c6900b988"}}}},"e6a8aea08d97a4632e74b7d87f767f62":{"description":"The requested resource could not be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"7b60714daf45a11b101dc36462ebce1d":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"249fd94a9f61b3709b6c2bcbb6f25df2":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"7bdb470af59d502ed1507008ee98b8ae":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"90e4188343a8580b2b5db407d8cc611e":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"da35e9d51f46e41704cdef85e04d9464":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/526ef8bfb8d3486fb3eb2b40900bf109"}}}},"aed8f00dcbe08bd9b6dcbfd7ecd06952":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"64fd4e3e0788c3a9f1e86bf3569c6c36":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"82134fec5ccac45eb0da6c80d240415d":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/557ba9479e3b46f84d3de94101fdbac9"}}}},"719953a3dc0c81fbc76fb358393f64de":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"cf5bc1f676a50cec6d43c0d2bd434812":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"19cb1f46c4aa6f1893ef46b22ffdc27c":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"3c5c6e8589aca41bbcfedd1bdff09025":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"177cd6ef20b5c8204e7458bd0d693fc8":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/59738fabb3dde55ca973e63986a53fef"}}}},"180f4cf45b641e3d0b781e89293766b0":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}},"c18f16818f78b2dd782f67452e4a63df":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"d82c84f6f832bfab9a07233fac8c43b7":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ab7f8e96ffb786cb211cda6678d34532"}}}},"e810a9a45f47daf79ff54f674f6faf78":{"description":"Validation errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/435c07a5c6b7754326b753df2f09dae3"}}}},"3611fb5c01eb8ad784d839ffb22107a1":{"description":"success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/1878d2ef42d59d234c05c2afacb36edd"}}}},"9980fa6c06c9963b56f9594e9283a75a":{"description":"You are not allowed to access this resource. You do not have the necessary permissions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/654dac096abf7f8a11eec3e814989da7"}}}}},"schemas":{"ab7f8e96ffb786cb211cda6678d34532":{"type":"object","properties":{"error":{"type":"string"}}},"435c07a5c6b7754326b753df2f09dae3":{"type":"object","properties":{"status":{"type":"integer"},"error":{"type":"string"}}},"6f8905419a1eb951cb667fe7461e4d10":{"type":"object","properties":{"data":{"type":"object","properties":{"backlinks_count":{"type":"integer"},"backlinks":{"type":"array","items":{"type":"object","properties":{"source_url":{"type":"string"},"target_url":{"type":"string"},"anchor_text":{"type":"string"},"nofollow":{"type":"boolean"},"rel_attributes":{"type":"array","items":{"type":"string"}},"context_text":{"type":"string"},"source_domain":{"type":"string"},"target_domain":{"type":"string"},"page_title":{"type":"string"},"meta_description":{"type":"string"}}}}}}}},"654dac096abf7f8a11eec3e814989da7":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["success"]},"c6aed49955bf550c645ca486ebab3199":{"type":"object","properties":{"data":{"type":"object","properties":{"emails":{"type":"array","items":{"type":"string"}}}}}},"c3bde990034d23b2a722273337242f7a":{"type":"object","properties":{"data":{"type":"object","properties":{"domain_info":{"type":"object","properties":{"dns":{"type":"object","properties":{"a":{"type":"array","items":{"type":"string"}},"mx":{"type":"array","items":{"type":"string"}},"txt":{"type":"array","items":{"type":"string"}},"cname":{"type":"array","items":{"type":"string"}},"ns":{"type":"array","items":{"type":"string"}}}},"whois":{"type":"object","properties":{"domain":{"type":"string"},"registrar":{"type":"string"},"created_on":{"type":"string"},"expires_on":{"type":"string"},"nameservers":{"type":"array","items":{"type":"string"}},"contact_infos":{"type":"hash"}}},"server":{"type":"object","properties":{"ip":{"type":"string"},"open_ports":{"type":"array","items":{"type":"integer"}},"https_supported":{"type":"boolean"},"server":{"type":"string"},"response_headers":{"type":"hash"}}},"ssl":{"type":"object","properties":{"subject":{"type":"string"},"issuer":{"type":"string"},"valid_from":{"type":"string"},"valid_until":{"type":"string"},"serial_number":{"type":"string"},"version":{"type":"integer"},"signature_algorithm":{"type":"string"},"public_key_algorithm":{"type":"string"}}},"technology_stack":{"type":"object","properties":{"backend_frameworks":{"type":"array","items":{"type":"string"}},"cms":{"type":"string"},"frontend_frameworks":{"type":"array","items":{"type":"string"}},"analytics_cdns":{"type":"array","items":{"type":"string"}},"js_modules":{"type":"array","items":{"type":"string"}},"meta_info":{"type":"object","properties":{"viewport":{"type":"string"}}}}}}}}}}},"eae1f3e6a1cfa36f797bb25fbb6c4b84":{"type":"object","properties":{"data":{"type":"object","properties":{"search_volume":{"type":"array","items":{"type":"object","properties":{"keyword":{"type":"string"},"avg_monthly_searches":{"type":"integer"},"competition":{"type":"string"},"competition_index":{"type":"integer"},"low_top_of_page_bid_micros":{"type":"integer"},"high_top_of_page_bid_micros":{"type":"integer"},"monthly_search_volumes":{"type":"array","items":{"type":"object","properties":{"year":{"type":"integer"},"month":{"type":"string"},"monthly_searches":{"type":"integer"}}}}}}}}}}},"1cebb7b6f380af614ca53c4ac99f0dc2":{"type":"object","properties":{"data":{"type":"object","properties":{"keywords_suggestions_count":{"type":"integer"},"keywords_suggestions":{"type":"array","items":{"type":"object","properties":{"keyword":{"type":"string"},"avg_monthly_searches":{"type":"integer"},"competition":{"type":"string"},"competition_index":{"type":"integer"},"low_top_of_page_bid_micros":{"type":"integer"},"high_top_of_page_bid_micros":{"type":"integer"}}}}}}}},"0b22856b372c2963785ed86d1c7657da":{"type":"object","properties":{"data":{"type":"array","items":{"type":"string"}}}},"95bb2b063cd814b8e2847c0e08e1b690":{"type":"object","properties":{"data":{"type":"object","properties":{"results":{"type":"object","properties":{"domain":{"type":"string"},"domain_authority":{"type":"integer"},"linking_root_domains":{"type":"integer"},"ranking_keywords":{"type":"integer"},"spam_score":{"type":"string"},"top_pages":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"page_authority":{"type":"integer"}}}},"top_linking_domains":{"type":"array","items":{"type":"object","properties":{"domain":{"type":"string"},"domain_authority":{"type":"integer"}}}},"top_ranking_keywords":{"type":"array","items":{"type":"object","properties":{"keyword":{"type":"string"},"rank":{"type":"integer"}}}},"top_search_competitors":{"type":"array","items":{"type":"object","properties":{"domain":{"type":"string"},"domain_authority":{"type":"integer"},"visibility":{"type":"float"}}}},"keywords_by_estimated_clicks":{"type":"array","items":{"type":"object","properties":{"keyword":{"type":"string"},"visibility":{"type":"integer"}}}},"top_featured_snippets":{"type":"array","items":{"type":"object","properties":{"keyword":{"type":"string"},"snippet_type":{"type":"string"}}}},"branded_keywords":{"type":"array","items":{"type":"object","properties":{"keyword":{"type":"string"},"volume":{"type":"integer"}}}},"keyword_ranking_distribution":{"type":"array","items":{"type":"object","properties":{"rank_range":{"type":"string"},"keyword_count":{"type":"integer"}}}},"top_questions":{"type":"array","items":{"type":"object","properties":{"question":{"type":"string"},"relevance":{"type":"float"}}}},"discovered_lost_links":{"type":"object","properties":{"total_discovered":{"type":"integer"},"total_lost":{"type":"integer"},"net_change":{"type":"integer"},"date_range":{"type":"string"},"daily_data":{"type":"object","properties":{"discovered":{"type":"array","items":{"type":"integer"}},"lost":{"type":"array","items":{"type":"integer"}},"dates":{"type":"array","items":{"type":"string"}}}}}},"scraped_at":{"type":"string"}}}}}}},"496b2fd25d1034476658cb29ddd8a147":{"type":"object","properties":{"data":{"type":"object","properties":{"domain":{"type":"string"},"keyword":{"type":"string"},"indexed":{"type":"boolean"},"urls":{"type":"array","items":{"type":"string"}}}}}},"d1cf3d9cef79e97be64748f825e207b4":{"type":"object","properties":{"data":{"type":"object","properties":{"keyword":{"type":"string"},"domain":{"type":"string"},"search_engine":{"type":"string"},"country":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"ranking":{"type":"integer"}}}}}}}},"6c27b415ef5a3d0a1aecfd1d12617f22":{"type":"object","properties":{"data":{"type":"object","properties":{"web_page":{"type":"object","properties":{"html":{"type":"string"}}}}}}},"47ad16874f0791de9f3d9da9e77657cc":{"type":"object","properties":{"domain":{"type":"string"},"web_pages_count":{"type":"integer"},"web_pages":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"html":{"type":"string"}}}}}},"de0b0f0356db9da97e216bb8fde78f1a":{"type":"object","properties":{"url":{"type":"string"},"js_script":{"type":"string"}}},"6247306b95c0f269acad34b406304042":{"type":"object","properties":{"data":{"type":"object","properties":{"web_page":{"type":"object","properties":{"h1":{"type":"string"},"content":{"type":"string"}}}}}}},"70d4db71598d568797192360bfc6386e":{"type":"object","properties":{"data":{"type":"object","properties":{"results":{"type":"object","properties":{"h1":{"type":"string"},"content":{"type":"string"}}}}}}},"5f68e6beb8f8d40708f29857067475f7":{"type":"object","properties":{"data":{"type":"object","properties":{"query":{"type":"string"},"search_engine":{"type":"string"},"country":{"type":"string"},"results_count":{"type":"integer"},"results":{"type":"array","items":{"type":"object","properties":{"site_name":{"type":"string"},"url":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"ranking":{"type":"integer"}}}}}}}},"75a307bff20617fd15832dab517b49f8":{"type":"object","properties":{"data":{"type":"object","properties":{"query":{"type":"string"},"country":{"type":"string"},"uuid":{"type":"string"}}}}},"92317ebc104d12fa104b7ee666468fc2":{"type":"object","properties":{"data":{"type":"object","properties":{"query":{"type":"string"},"country":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"ai_overview":{"type":"object","properties":{"content":{"type":"string"},"sources":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"url":{"type":"string"},"site_name":{"type":"string"},"description":{"type":"string"},"ranking":{"type":"integer"}}}}}},"ai_mode_response":"hash{content: string, sources: array\u003chash{title: string, url: string, site_name: string, description: string, ranking: integer}\u003e"}}}}}}},"6ae5c1b8e7ed10c3bf20534abdc987d7":{"type":"object","properties":{"data":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{"ai_overview":{"type":"object","properties":{"content":{"type":"string"},"sources":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"url":{"type":"string"},"site_name":{"type":"string"},"description":{"type":"string"},"ranking":{"type":"integer"}}}}}},"ai_mode_response":{"type":"object","properties":{"content":{"type":"string"},"sources":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"url":{"type":"string"},"site_name":{"type":"string"},"description":{"type":"string"},"ranking":{"type":"integer"}}}}}}}}}}}}},"526ef8bfb8d3486fb3eb2b40900bf109":{"type":"object","properties":{"data":{"type":"object","properties":{"query":{"type":"string"},"search_engine":{"type":"string"},"country":{"type":"string"},"results_count":{"type":"integer"},"results":{"type":"array","items":{"type":"object","properties":{"site_name":{"type":"string"},"url":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"ranking":{"type":"integer"},"html":{"type":"string"}}}}}}}},"301b61c506d9e720bbf7e13c6900b988":{"type":"object","properties":{"data":{"type":"object","properties":{"query":{"type":"string"},"country":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"ai_overview":{"type":"object","properties":{"content":{"type":"string"},"sources":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"url":{"type":"string"},"site_name":{"type":"string"},"description":{"type":"string"},"ranking":{"type":"integer"}}}}}},"search_results":{"type":"array","items":{"type":"object","properties":{"site_name":{"type":"string"},"url":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"ranking":{"type":"integer"}}}}}}}}}}},"557ba9479e3b46f84d3de94101fdbac9":{"type":"object","properties":{"data":{"type":"object","properties":{"user":{"type":"object","properties":{"email_address":{"type":"string"},"api_credit":{"type":"integer"}}}}}}},"59738fabb3dde55ca973e63986a53fef":{"type":"object","properties":{"data":{"type":"object","properties":{"ai_analysis":{"type":"string"}}}}},"1878d2ef42d59d234c05c2afacb36edd":{"type":"object","properties":{"analysis":{"type":"object","properties":{"title":{"type":"string"},"title_length":{"type":"integer"},"meta_description":{"type":"string"},"meta_description_length":{"type":"integer"},"title_contains_keyword":{"type":"boolean"},"description_contains_keyword":{"type":"boolean"},"canonical_url":{"type":"string"},"robots_meta":{"type":"string"},"noindex_detected":{"type":"boolean"},"nofollow_detected":{"type":"boolean"},"structured_data":{"type":"object","properties":{"types":{"type":"array","items":{"type":"string"}},"raw":{"type":"array","items":{"type":"hash"}}}},"headings":{"type":"object","properties":{"h1":{"type":"string"},"h1_count":{"type":"integer"},"h1_contains_keyword":{"type":"boolean"},"structure":{"type":"object","properties":{"h1":{"type":"integer"},"h2":{"type":"integer"},"h3":{"type":"integer"},"h4":{"type":"integer"}}}}},"content":{"type":"object","properties":{"word_count":{"type":"integer"},"keyword_density":{"type":"object","properties":{"keyword":{"type":"integer"}}},"readability_score":{"type":"integer"},"duplicate_content":{"type":"boolean"},"thin_content":{"type":"boolean"},"near_duplicate_content_hash":{"type":"string"},"content_topics":{"type":"array","items":{"type":"string"}}}},"links":{"type":"object","properties":{"internal_links_count":{"type":"integer"},"external_links_count":{"type":"integer"},"broken_links":"array\u003chash{href: string, status: boolean}}","redirect_chain":"array\u003chash{href: string, status: boolean}}","nofollow_links_count":{"type":"integer"}}},"images":{"type":"object","properties":{"total_images":{"type":"integer"},"missing_alt_attributes":{"type":"array","items":{"type":"string"}},"image_alt_coverage":{"type":"integer"}}},"technical":{"type":"object","properties":{"html_lang":{"type":"string"},"doctype":{"type":"string"},"semantic_tags_used":{"type":"array","items":{"type":"string"}},"robots_txt_disallowed":{"type":"boolean"},"sitemap_included":{"type":"boolean"},"viewport_tag_present":{"type":"boolean"},"https":{"type":"boolean"},"secure_canonical":{"type":"boolean"},"mixed_content":{"type":"array","items":{"type":"string"}},"javascript_rendered":{"type":"boolean"},"lazy_loaded_content":{"type":"boolean"},"important_content_in_js":{"type":"boolean"},"mobile_friendly":{"type":"boolean"},"mobile_interstitials_detected":{"type":"boolean"},"page_speed_score":{"type":"integer"},"core_web_vitals":{"type":"object","properties":{"lcp":{"type":"string"},"fid":{"type":"string"},"cls":{"type":"string"}}},"aria_roles_present":{"type":"boolean"},"landmark_elements":{"type":"array","items":{"type":"string"}}}},"social_meta":{"type":"object","properties":{"og_title":{"type":"string"},"og_description":{"type":"string"},"og_image":{"type":"string"},"twitter_card":{"type":"string"},"twitter_title":{"type":"string"},"twitter_image":{"type":"string"},"social_meta_complete":{"type":"boolean"}}},"indexability":{"type":"object","properties":{"indexable":{"type":"boolean"},"crawl_depth":{"type":"integer"}}},"summary":{"type":"object","properties":{"score":{"type":"integer"},"issues":{"type":"array","items":{"type":"string"}},"recommendations":{"type":"array","items":{"type":"string"}}}}}}}}},"parameters":{"7a4323da9edb17e37042780b0324dfa9":{"name":"domain","in":"query","description":"The domain to search for backlinks","required":true,"schema":{"type":"string"},"style":"form"},"3c008e11dc109d8fa2f48877d536e2fe":{"name":"search_engine","in":"query","description":"The search engine to use. Supported values: google, bing, yahoo and duckduckgo. Default to google.","required":false,"schema":{"type":"string"},"style":"form"},"9c5679019fc63abf00a7a6b05e6ead59":{"name":"country","in":"query","description":"The country to search from. Default to us.","required":false,"schema":{"type":"string"},"style":"form"},"7aeb7b3feab83b727bb804d8728e2217":{"name":"pages_number","in":"query","description":"The number of pages to search (1-30). Default to 15.","required":false,"schema":{"type":"integer"},"style":"form"},"9f70e9a4d60ce792a2624403d1400445":{"name":"domain","in":"query","description":"The domain to search emails from","required":true,"schema":{"type":"string"},"style":"form"},"f1227a93e97a5bbf4621ae84fbc94c6b":{"name":"pages_number","in":"query","description":"The number of pages to search (1-30). Default to 1.","required":false,"schema":{"type":"integer"},"style":"form"},"635a108ff96f29e4edb71891d25bff13":{"name":"domain","in":"query","description":"The domain to check","required":true,"schema":{"type":"string"},"style":"form"},"95bbb06261987031e9385be50cd89c19":{"name":"keywords","in":"query","description":"The keywords to search","required":true,"schema":{"type":"array","items":{"type":"string"}},"style":"form"},"9c1db8a07d573d7f932379961ba22187":{"name":"country","in":"query","description":"The country code to search for","required":false,"schema":{"type":"string"},"style":"form"},"960e7de68b14a7af64c4833e131683b6":{"name":"url","in":"query","description":"The url to search","required":false,"schema":{"type":"string"},"style":"form"},"be0c636bd304325c5634b9111fbbd679":{"name":"keywords","in":"query","description":"The keywords to search","required":false,"schema":{"type":"array","items":{"type":"string"}},"style":"form"},"e297de1426baed91f4383a1d1fdc4394":{"name":"keyword","in":"query","description":"The seed keyword to generate long-tail keywords from","required":true,"schema":{"type":"string"},"style":"form"},"87de6d8991abee8c0aff67fa3703ecd5":{"name":"search_intent","in":"query","description":"The search intent to generate long-tail keywords for. Supported values: informational, commercial, transactional, navigational. Default to informational.","required":false,"schema":{"type":"string"},"style":"form"},"283cf12c962ff38fe1ca4e769ae8243b":{"name":"count","in":"query","description":"The number of long-tail keywords to generate (1-500). Default to 10.","required":false,"schema":{"type":"integer"},"style":"form"},"a9d1f44acd4dd0206173b940dbda39f7":{"name":"domain","in":"query","description":"The domain to analyze","required":true,"schema":{"type":"string"},"style":"form"},"1185eb8b80fa7bd3029df99a5e881eab":{"name":"keyword","in":"query","description":"The keyword to check","required":true,"schema":{"type":"string"},"style":"form"},"ee44c750d282ae0fb2fde446b3954fff":{"name":"keyword","in":"query","description":"The keyword to search","required":true,"schema":{"type":"string"},"style":"form"},"216ab90a4d75eb62387e07777b0f00b5":{"name":"domain","in":"query","description":"The domain to search","required":true,"schema":{"type":"string"},"style":"form"},"815410dc2a3aaf6849ff2b1723f93b7f":{"name":"pages_number","in":"query","description":"The number of pages to search (1-30). Default to 10.","required":false,"schema":{"type":"integer"},"style":"form"},"bd66bf6c59f2f48d143fad774489d32e":{"name":"url","in":"query","description":"The url to scrap","required":true,"schema":{"type":"string"},"style":"form"},"e0845f7721d45dbb1d7b79821f1ebda8":{"name":"domain","in":"query","description":"The domain to scrape","required":true,"schema":{"type":"string"},"style":"form"},"d6f7b773b3e38053c2cef92453535b34":{"name":"max_pages","in":"query","description":"The maximum number of pages to scrape (up to 200). Default to 10.","required":false,"schema":{"type":"integer"},"style":"form"},"b6918c860b4721b55ce38c237c9fa7e1":{"name":"js_script","in":"query","description":"The javascript code to execute on the page","required":false,"schema":{"type":"string"},"style":"form"},"3d2464dd753a190140e7dfe7c4d637fa":{"name":"country","in":"query","description":"The country to use for the proxy","required":true,"schema":{"type":"string"},"style":"form"},"b29728c77c0b2bdb1a85de9da3046d10":{"name":"query","in":"query","description":"The query to search","required":true,"schema":{"type":"string"},"style":"form"},"8e25b3c523b4c42d30dae1e6c378db7e":{"name":"uuid","in":"path","description":"The uuid returned by the SERP JS endpoint","required":true,"schema":{"type":"string"},"style":"simple"},"bb40bd367b30b348c8c438e5a886c227":{"name":"pages_number","in":"query","description":"The number of pages to search (1-10). Default to 1.","required":false,"schema":{"type":"integer"},"style":"form"},"f8f09a57d731547e6d17e18e88c911fe":{"name":"url","in":"query","description":"The url to analyze","required":true,"schema":{"type":"string"},"style":"form"},"51ef2b8886208a3bbf6df0e30e1ae059":{"name":"prompt","in":"query","description":"The prompt to use for the analysis","required":true,"schema":{"type":"string"},"style":"form"}},"securitySchemes":{"bearer":{"type":"http","scheme":"bearer","description":"A bearer token that will be supplied within an `Authorization` header as `bearer \u003ctoken\u003e`."}}},"security":[{"bearer":[]}],"tags":[{"name":"Users","description":"Manage the `amazing` Users table."}]}